html{
            background-color: #f0f8ff;
            width: 75%;
            min-width: 500px;
        }
        #p1{
            border: 1px solid #333333;
            padding: 0.5em;
            background-color: white;
            box-shadow: 5px 5px grey;
            border-radius: 10px;

        }
        #alert{
            border: 1px dashed red;
            padding: 0.5em;
            color: red;
            background-color: white;
            box-shadow: 5px 5px red;
            border-radius: 10px;
            
            
        }
        #p3{
            border: 1px solid #333333;
            padding: 0.5em;
            background-color: white;
            box-shadow: 5px 5px grey;
            border-radius: 10px;
        }
        #main{
            display: grid;
            grid-column: 1fr;
            grid-row: 1fr 1fr 1fr;
            grid-row-gap: 1em;
        }
     <!--  /*{
            color:  #fdfd96;
            font-weight: bold;
            padding-left: 0.5em;
            padding-right: 0.5em
        }*/
        /* {
            color:  #fdca96;
            font-weight: bold;
            padding-left: 0.5em;
            padding-right: 0.5em
        }*/
 -->